body{
    background-image: url("/img/table.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.life{
    /* position:relative; */
    float: left; 
}
h1{
    border: 2px solid rgb(49, 163, 234);
    font-family: cursive;
    margin-right: 89%;
    margin-top: 5%;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    padding: 20px 0 10px 0;
    width: 135px;
    margin: 0 0 0 0;
    padding: 0;
    /* margin-left: 10%; */
}
.dice1{
    margin: 0;
    width: 480px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}
.hoger{
    background-color: green;
    color: white;
    font-size: xx-large;
    font-family: cursive;
    border: 2px solid white;
    border-radius: 20%;
    width: 150px;
    height: 60px;
    margin-top: 10%;
    margin-left: 26%;
    cursor: pointer;
}
.hoger:hover{
    color: black;
    border: 2px solid rgb(49, 163, 234);
    background-color: rgb(212, 230, 100);
    transform: translateX(25%);
    transform: translateY(10%);
}
.lager{
    background-color: red;
    color: white;
    font-size: xx-large;
    font-family: cursive;
    border: 2px solid white;
    border-radius: 20%;
    width: 150px;
    height: 60px;
    margin-left: 40%;
    cursor: pointer;
}
.lager:hover{
    color: black;
    border: 2px solid rgb(49, 163, 234);
    background-color: rgb(212, 230, 100);
    transform: translateX(25%);
    transform: translateY(10%);
}